.pet-state{
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    
}
.status-box-energy{
    background-color: rgb(0, 200, 255);
    height: 100%;
    
}
.status-box-happiness{
    background-color: rgb(255,223,0);
    height: 100%;
    
}
.status-box-health{
    background-color: rgb(0, 200, 0);
    height: 100%;
}


.bar-energy ,.bar-happiness,.bar-health{
    height: 30px;
    position: relative;
    text-align: center;
    border: 1px solid rgb(127, 125, 125);
    border-radius: 10px;
    color: rgb(58, 29, 29);
    width: 100%;
    overflow: hidden;
    margin: 0 0 4px 0;
}
.bar-energy{
    animation: tranform 0.7s ease forwards;
}

.bar-happiness{
    animation: tranform 1s ease forwards;
}
.bar-health{
    animation: tranform 1.3s ease forwards;
}
@keyframes tranform {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}


.bar-energy p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%)
}
.bar-happiness p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%)
}
.bar-health p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%)
}

.pet-frame {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
}

.pet-frame img, .pet-frame .pet {
    display: block;
    margin: 0 auto;
}

.floating-number {
  position: absolute;
  color: #000000;
  animation: floatUp 1.5s ease-out forwards;
  font-weight: bold;
  pointer-events: none;
  left: 90%; 
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}